body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddddd !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.motion__wrapper {
  transition: background .15s ease-in-out;
}

.motion__wrapper--yea {
  background: linear-gradient(to left, white, rgb(215, 230, 215));
}
.motion__wrapper--nay {
  background: linear-gradient(to left, rgb(240, 213, 213), white);
}

.motion__wrapper--active {
  position: relative;
  z-index: 9;
}

.stat__wrapper {
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity .15s ease-in-out;
    pointer-events: none;
  }
  &:hover::before {
    opacity: 1;
  }
}

.fade--full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: black;
  transition: opacity .35s ease-in-out;
  z-index: 4;
  pointer-events: none;
  &.active {
    opacity: 0.35;
    transition: opacity .35s ease-in-out;
    // pointer-events: all;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
  }
}

.actor__wrapper {
  position: relative;
  z-index: 5;
}

ul {
  padding: 0;
  list-style-type: none;
}

.tabled {
  box-shadow: 0 0 0 3px lime !important;
}

.App-main {
  color: #555555;
}

.full-screen {
  min-height: 100vh;
}

.center-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
